httpx<0.28
opencc
packaging
prompt_toolkit
PyYAML
Requests
tenacity
tiktoken
tqdm
colorlog
gradio
yt-dlp
pysrt
bilibili-dl
PyQt-Fluent-Widgets
pyinstaller
openai
torch
librosa
onnx
soundfile
onnxruntime-directml
opencc
openai
packaging
PyYAML
Requests
tenacity
tiktoken
colorlog
openpyxl
orjson
beautifulsoup4
playsound3
fasttext-predict
InquirerPy
alive-progress
vaporetto
aiofiles
httpx-aiohttp

# Tokenizer
budoux
# Optional tokenizers
# jieba
# pkuseg
# Very heavyweight tokenizer, manual installation recommended
# numpy < 2.0.0
# hanlp
